transformers==4.40.0
torch==2.2.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
gnews==0.3.7
streamlit==1.32.0
rouge-score==0.1.2
nltk==3.8.1
sentencepiece==0.2.0
requests==2.31.0
beautifulsoup4==4.12.3
rake-nltk==1.0.6